<?xml version="1.0"?>
<configuration>

  <configSections>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Payazob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <connectionStrings />


 

  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>

  </startup>
 
   

    <system.net>
      <settings>
        <httpWebRequest useUnsafeHeaderParsing="true"/>
      </settings>
    </system.net>


  
  <userSettings>
    <Payazob.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="WorkYear" serializeAs="String">
        <value>1399/01/01</value>
      </setting>
      <setting name="Schedule_" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LsfEn" serializeAs="String">
        <value />
      </setting>
      <setting name="LsfFa" serializeAs="String">
        <value />
      </setting>
      <setting name="TreeviewOrder" serializeAs="String">
        <value />
      </setting>
    </Payazob.Properties.Settings>
    
  </userSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
 
</configuration>

